In [6]:
import pandas as pd
import random
l=[random.randint(10000,99999) for i in range(10)]
s=pd.Series(l)
print(s)
print(s.sort_values(ascending=True).head(3))
print(s.sort_values(ascending=True).tail(3))
#print(s.[s>=90000])

SyntaxError: invalid syntax (<ipython-input-6-af570e191fe1>, line 8)

In [11]:
d={'Name':['Guddu','Muqbool','lalit','Munna','kaleen'],'Marks':['89','68','78','76','98'],'Subject':['Eng','Math','sci','His','comp']}
s=pd.DataFrame(d)
print(s)

      Name Marks Subject
0    Guddu    89     Eng
1  Muqbool    68    Math
2    lalit    78     sci
3    Munna    76     His
4   kaleen    98    comp

In [12]:
import numpy as np
import pandas  as pd
import random
city=['KOL','MUM','DEL','DGP','BLR']
p=[random.randint(1000000,9999999) for i in range(5)]
#s=pd.Series(p)
#print(s)
population=pd.Series(p,city)
income=np.array(p)
income=income*7
avgincome=pd.Series(income,city)
d={'POPULATION':population,'AVGINCOME':avgincome}
df=pd.DataFrame(d)
print(df)
print(df.columns)
print(df.axes)
print(df.dtypes)
print(df.size)
#print(df.attributes)
print(df.shape)
print(df.ndim)
print(df.empty)
#print(df.hasnans)
print(df.count)
df1=df.T
print(df1)
print(df.at['KOL','POPULATION'])
print(df.iat[3,0])

     POPULATION  AVGINCOME
KOL     9783705   68485935
MUM     6161449   43130143
DEL     7300849   51105943
DGP     1778267   12447869
BLR     6726544   47085808
Index(['POPULATION', 'AVGINCOME'], dtype='object')
[Index(['KOL', 'MUM', 'DEL', 'DGP', 'BLR'], dtype='object'), Index(['POPULATION', 'AVGINCOME'], dtype='object')]
POPULATION    int64
AVGINCOME     int32
dtype: object
10
(5, 2)
2
False
<bound method DataFrame.count of      POPULATION  AVGINCOME
KOL     9783705   68485935
MUM     6161449   43130143
DEL     7300849   51105943
DGP     1778267   12447869
BLR     6726544   47085808>
                 KOL       MUM       DEL       DGP       BLR
POPULATION   9783705   6161449   7300849   1778267   6726544
AVGINCOME   68485935  43130143  51105943  12447869  47085808
9783705
1778267